/* Общие */
/* Заголовки */
@font-face{
	src: url('../fonts/PTSansNarrowBold.ttf');
	font-family: 'NarrowSansBold';
}

/* Тексты */
@font-face{
	src: url('../fonts/PTSansNarrowRegular.ttf');
	font-family: 'NarrowSansRegular';
}

/* заголовки */
@font-face{
	src: url('../fonts/SegoeUIBold.ttf');
	font-family: 'SegoeUIBold';
}

/* Длинные тексты */
@font-face{
	src: url('../fonts/SegoeUIRegular.ttf');
	font-family: 'SegoeUIRegular';
}

/* Краткие тексты */
@font-face{
	src: url('../fonts/SegoeUILight.ttf');
	font-family: 'SegoeUILight';
}

/* Меню */
@font-face{
	src: url('../fonts/RobotoThin.ttf');
	font-family: 'RobotoThin';
}

body{
	margin: 0;
	background-color: #fff;
}

#main-wrap{
	font-family: SegoeUIRegular;
	width: 100%;
	min-width: 1170px;
}

.container{
	display: block;
	width: 1170px;
	margin: 0 auto;
    overflow: hidden;
}

.clearfix:after{
	content: '';
	display: table;
	clear: both;
}

/* 404 */
.page404-pic{
	display: block;
	margin: 0 auto;
	margin-top: 100px;
}

.page404-link:hover{
	text-decoration: underline;
	color: darkgreen;
}

.page404-link{
	display: block;
	font-family: SegoeUIRegular;
	font-size: 24px;
	color: green;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
	text-decoration: none;
}